# MONAD
MONAD_RPC_URL=https://rpc.monad-testnet.fastlane.xyz/eyJhIjoiMHhhZkRCOWVFMTMxOEFFYUFhMkVlM0U3YTA4NTAyMDAyODc1RjA0MkNBIiwidCI6MTc1ODcxNDAxOSwicyI6IjB4NjQyOTkwYWU2NzMzZWEwYzA4Yjk5ODk4ZTE2ODk4NWQ3MWY4ODcyYjZiYmE3YTg2Y2FlYjlkNWFiNzVhOTdhMzJhNzY4Nzk1ODIwZTM2NjlkOWY4Mjg4NGJjZTMzMzVjODk2YjViOTU2NzRiNjQxZWI1MzRlODUwODA3ZWYwM2MxYyJ9  # RPC Monad testnet riêng
MONAD_CHAIN_ID=10143                                # Monad testnet chain ID

# AA / Paymaster / Bundler (Pimlico - hỗ trợ Monad testnet)
BUNDLER_RPC_URL=https://api.pimlico.io/v2/10143/rpc?apikey=YOUR_PIMLICO_API_KEY
PAYMASTER_RPC_URL=https://api.pimlico.io/v2/10143/rpc?apikey=YOUR_PIMLICO_API_KEY

# Dev signer (chỉ test!)
DEV_PRIVATE_KEY=0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Envio (GraphQL Endpoint) - để trống để dùng blockchain indexer fallback
ENVIO_GRAPHQL=
NEXT_PUBLIC_ENVIO_GRAPHQL=http://localhost:3000/graphql
